#slider_container{ 
	float: left; 
	margin: 12px;
	width: 938px;
	height: 680px; 
}
#slider_container #image_nav{ 
	position: relative;
	margin-top: -70px;
	background-image: url('./img/image_slider.png');
	height: 35px;
	text-align: center; 
}
#slider_container #image_nav a:link, #slider_container #image_nav a:visited, #slider_container #image_nav a:active{
	display: inline;
	float: none;
	height: 34px;
	padding: 9px 15px;
	position: relative;
	top: 8px;
	margin-right: 1px;
	color: #000000;
}
#slider_container a:link, #slider_container a:active, #slider_container a:visited{
	padding: 0;
	background-repeat: no-repeat;
	display: block;
	position: absolute;
	top: 0;
	text-decoration: none;
	height: 660px;
	width: 32px;
	z-index: 10000;	
}
#slider_container a.prev:link, #slider_container a.prev:active, #slider_container a.prev:visited{
	left: 0;
	background-position: -231px 613px;
	background-image: url('./img/arrows.png');
}
#slider_container a.next:link, #slider_container a.next:active, #slider_container a.next:visited {
	right: 0;
	background-position: 4px 613px;
	background-image: url('./img/arrows.png');
}

/*  MODERN  */
#slider_container.modern #image_nav a:hover, #slider_container.modern #image_nav a.active{
	background-color: #00a2ff;
	color: #ffffff;
}
#slider_container.modern a.prev:hover{
	background-position: -205px 613px;
}
#slider_container.modern a.next:hover{
	background-position: -22px 613px;
}

/*  DESIGN  */
#slider_container.design #image_nav a:hover, #slider_container.design #image_nav a.active{
	background-color: #7bcb34;
	color: #ffffff;
}
#slider_container.design a.prev:hover{
	background-position: -179px 613px;
}
#slider_container.design a.next:hover{
	background-position: -48px 613px;
}

/*  LANDELIJK  */
#slider_container.landelijk #image_nav a:hover, #slider_container.landelijk #image_nav a.active{
	background-color: #ff9200;
	color: #ffffff;
}
#slider_container.landelijk a.prev:hover{
	background-position: -153px 613px;
}
#slider_container.landelijk a.next:hover{
	background-position: -74px 613px;
}

/*  INRICHTING  */
#slider_container.inrichting #image_nav a:hover, #slider_container.inrichting #image_nav a.active{
	background-color: #ff1922;
	color: #ffffff;
}
#slider_container.inrichting a.prev:hover{
	background-position: -127px 613px;
}
#slider_container.inrichting a.next:hover{
	background-position: -100px 613px;
}








/*














/*
#slider_container_2 { float: left; margin: 0 0 0 -15px; padding: 15px; width: 700px; background: url(../img/bg.png) no-repeat 0 0; }

.SliderName_2 {
	float: left;
	width: 700px;
	height: 450px;
	overflow: hidden;
}

.SliderNamePrev_2 {
	background: url(../img/left.png) no-repeat left center;
	width: 50px;
	height: 450px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	text-decoration: none;
}

.SliderNameNext_2 {
	background: url(../img/right.png) no-repeat right center;
	width: 50px;
	height: 450px;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	text-decoration: none;
}

.SliderName_2Description {
	padding: 10px;
	font-family: Tahoma,Arial,Helvetica;
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 1px;
	text-align: center;
	color: #ffffff;
	text-shadow: 0 1px 3px #000000;
}


#SliderNameNavigation_2 a:link, #SliderNameNavigation_2 a:active, #SliderNameNavigation_2 a:visited, #SliderNameNavigation_2 a:hover{
	margin: 0;
	padding: 0;
	padding: 0px 10px 0px 10px;
	font-size: 0;
	font-size: 12px;
	line-height: 0;
	text-decoration: none;
	color: white;
}
#SliderNameNavigation_2 a:link.active, #SliderNameNavigation_2 a:active.active, #SliderNameNavigation_2 a:visited.active, #SliderNameNavigation_2 a:hover.active{
	color: yellow;
}

#SliderNameNavigation_2 a img
{
	border: none;
	/* width: 16px;
	width: 40px;
	
	height: 16px;
	 background: url(../img/bullet.png) no-repeat center center;
	background-color: green;
}

#SliderNameNavigation_2 a.active img
{
	/* background: url(../img/bullet_active.png) no-repeat center center;
	background-color: orange;
}
*/